<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aj_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="AJ Mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AJ_Mobile"
        tools:targetApi="31">
        <activity
            android:name=".Forgot_Password_Activity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".List"
            android:exported="false" />
        <activity android:name=".OTPVerification" />
        <activity
            android:name=".SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".Dashboard_activity"
            android:exported="false" />
        <activity
            android:name=".SignIn_Activity"
            android:exported="true" />
        <activity
            android:name=".Splash_Actitvity"
            android:exported="true"> <!-- Making Splash activity as Launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>